<!-- 此版本不開放 -->
<!-- <button (click)="sendmessage()" style="width: 50px; height: 50px;">send</button>
<button (click)="joinRTMChannel('A')" style="width: 50px; height: 50px;">join A</button>
<button (click)="joinRTMChannel('B')" style="width: 50px; height: 50px;">join B</button>
<button (click)="leaveRTMChannel()" style="width: 50px; height: 50px;">leave</button>
<button (click)="leaveRTCChannel()" style="width: 80px; height: 50px;">leaveRTC</button>
<button (click)="shareScreen()" style="width: 80px; height: 50px;">share</button> -->

<div class='test' (window:resize)="onResize($event)"></div>
